.border-2
  = document.title
  = document.humanized_kind
  = link_to heroicon('pencil', options: { class: 'mr-2' }), edit_dashboard_document_path(document)
  = link_to heroicon('trash', options: { class: 'mr-2' }),
                     dashboard_document_path(document),
                     data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }

