= provide :page_title, @document.title

%nav.mb-10
  %ul.flex.md:flex-row.justify-start
    %li
      = link_to new_dashboard_document_paragraph_path(@document), class: 'flex p-2 text-indigo-800 hover:text-white transition ease-in duration-300 hover:bg-indigo-800 border-2 border-indigo-800' do
        = heroicon('plus-circle', options: { class: 'mr-2 h-6 w-6' })
        %p.text-center.tracking-wide New paragraph

%section
  %p= @document.title
  %p= @document.description

%section
  = render @document.paragraphs
