= provide :page_title, 'Log in'

= form_with(model: @sign_in_form, url: session_path, class: 'max-w-xl border border-gray-300 p-10 mx-auto') do |form|
  - if form.object.errors.any?
    - form.object.errors.full_messages.each do |message|
      %div= message

  .mb-4
    %label= form.label :email, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.email_field :email, placeholder: 'your@email.com', required: true,
                               class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .my-4
    %label= form.label :password, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.password_field :password, required: true,
                                     class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .my-4.grid.grid-cols-2.gap-2.justify-items-stretch
    .col-span-1
      .flex.items-center
        = form.check_box :remember_me, class: 'mr-3 text-indigo-700 focus:ring-0 focus:ring-offset-0'
        %label= form.label :remember_me, class: 'block text-gray-600 text-sm tracking-wide'

    .col-span-1.place-self-end
      = link_to 'Lost password?', new_remind_password_path,
                class: 'block, text-indigo-500 hover:text-indigo-800 transition-colors duration-300 tracking-wide'

  %div
    = form.submit('Log in',
                  class: 'block text-gray-50 bg-indigo-500 hover:bg-indigo-800 w-full p-2 transition-colors duration-300 text-center tracking-wide')
