= provide :page_title, 'Remind your password'

= form_with(model: @remind_password_form, url: remind_password_path, class: 'max-w-xl border border-gray-300 p-10 mx-auto') do |form|
  - if form.object.errors.any?
    - form.object.errors.full_messages.each do |message|
      %div= message

  .mb-4
    %label= form.label :email, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.email_field :email, placeholder: 'your@email.com', required: true,
                               class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  %div
    = form.submit('Remind Password',
                  class: 'block text-gray-50 bg-indigo-500 hover:bg-indigo-800 w-full p-2 transition-colors duration-300 text-center tracking-wide')
