= form_with(model: [:admin, @document, @paragraph]) do |f|
  %div
    %label= f.label :title
    = f.text_field :title,
                   placeholder: 'Paragraph title',
                   class: 'w-full py-4 my-4 px-4 placeholder-gray-400'

  %div
    = f.submit('Save', class: 'text-white bg-indigo-600 border-0 my-4 py-4 px-8 hover:bg-indigo-800')
    = link_to 'Back', :back
