%tr
  %td.p-2.pr-4= paragraph.title
  %td.p-2.pr-4= paragraph.row_order
  %td.p-2.pr-2
    .flex
      = link_to heroicon('pencil', options: { class: 'mr-2' }),
                edit_admin_paragraph_path(paragraph),
                data: { turbo_frame: '_top' }
      = link_to heroicon('trash', options: { class: 'mr-2' }),
                admin_paragraph_path(paragraph),
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
