%tr
  %td.p-2.pr-4= card&.title
  %td.p-2.pr-4= card.position
  %td.p-2.pr-2
    .flex
      = link_to heroicon('pencil', options: { class: 'mr-2' }), edit_dashboard_card_path(card)
      = link_to heroicon('trash', options: { class: 'mr-2' }),
              dashboard_card_path(card),
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
