%tr
  %td.p-2.pr-4= chapter.position
  %td.p-2.pr-2
    .flex
      = link_to heroicon('pencil', options: { class: 'mr-2' }), edit_dashboard_chapter_path(chapter)
      = link_to heroicon('trash', options: { class: 'mr-2' }),
              dashboard_chapter_path(chapter),
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
