= form_with(model: [:dashboard, @course, @chapter], class: 'max-w-4xl mx-auto') do |form|
  - if form.object.errors.any?
    - form.object.errors.full_messages.each do |message|
      %div= message

  .my-4
    %label= form.label :title, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.text_field :title,
                   class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .grid.grid-cols-2.gap-2
    %div
      = form.submit(@chapter.new_record? ? 'Save' : 'Update',
                   class: 'block text-gray-50 bg-indigo-500 hover:bg-indigo-800 w-full p-2 transition-colors duration-300 text-center tracking-wide')

    %div
      = link_to 'Back', dashboard_course_path(@chapter.course_id),
                class: 'block text-gray-50 bg-gray-500 hover:bg-gray-800 w-full p-2 transition-colors duration-300 text-center tracking-wide'
