= provide :page_title, 'Sign up'

= form_with(model: @registration_form, url: registration_path, class: 'max-w-xl border border-gray-300 p-10 mx-auto') do |form|
  - if form.object.errors.any?
    - form.object.errors.full_messages.each do |message|
      %div= message

  .mb-4
    %label= form.label :email, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.email_field :email, placeholder: 'your@email.com', required: true,
                               class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .my-4
    %label= form.label :password, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.password_field :password, required: true,
                                     class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .my-4
    %label= form.label :password_confirmation, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.password_field :password_confirmation, required: true,
                                                  class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .my-4.flex.items-center
    = form.check_box :terms_of_service, class: 'mr-3 text-indigo-700 focus:ring-0 focus:ring-offset-0'
    %label= form.label :terms_of_service, class: 'block text-gray-600 text-sm tracking-wide'

  %div
    = form.submit('Register new account',
                  class: 'block text-gray-50 bg-indigo-500 hover:bg-indigo-800 w-full p-2 transition-colors duration-300 text-center tracking-wide')
