%footer.bg-gray-50.w-full
  .mx-auto.px-5.py-5
    %ul.flex.flex-wrap.justify-between.max-w-screen-md.mx-auto
      %li
        = link_to 'About us', about_us_path,
                  class: 'text-gray-600 hover:text-gray-800 transition-colors duration-300'
      %li
        = link_to 'Services', services_path,
                  class: 'text-gray-600 hover:text-gray-800 transition-colors duration-300'
