%header.bg-gray-50.w-full
  %nav.mx-auto.px-5.py-5
    .flex.justify-between
      %h5
        = link_to 'Grammarats', root_path,
                  class: 'font-bold text-gray-600 hover:text-gray-800 transition-colors duration-300'
      .block
        %ul.flex.items-center.space-x-8
          - if user_signed_in?
            %li
              = link_to 'Class rooms', dashboard_class_rooms_path,
                        class: 'text-gray-600 hover:text-gray-800 transition-colors duration-300'
            %li
              = link_to 'Courses', dashboard_courses_path,
                        class: 'text-gray-600 hover:text-gray-800 transition-colors duration-300'
            %li
              = link_to 'Documents', dashboard_documents_path,
                        class: 'text-gray-600 hover:text-gray-800 transition-colors duration-300'
            %li
              = link_to 'Edit password', edit_password_path,
                        class: 'text-gray-600 hover:text-gray-800 transition-colors duration-300'

            %li
              = button_to 'Log out', session_path, method: :delete,
                          class: 'text-gray-600 hover:text-gray-800 transition-colors duration-300'

          - else
            %li
              = link_to 'About us', about_us_path,
                        class: 'text-gray-600 hover:text-gray-800 transition-colors duration-300'
            %li
              = link_to 'Services', services_path,
                        class: 'text-gray-600 hover:text-gray-800 transition-colors duration-300'
            %li
              = link_to 'Log In', new_session_path,
                        class: 'text-gray-600 hover:text-gray-800 transition-colors duration-300'
            %li
              = link_to 'Sign Up', new_registration_path,
                        class: 'text-gray-600 hover:text-gray-800 transition-colors duration-300'