.border-2
  = post.title
  = post.author_email
  = post.category_title
  = post.document_title
  = link_to heroicon('pencil', options: { class: 'mr-2' }), edit_dashboard_post_path(post)
  = link_to heroicon('trash', options: { class: 'mr-2' }),
                     dashboard_post_path(post),
                     data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
