= form_with(model: [:admin, @post], class: 'max-w-4xl mx-auto') do |form|
  - if form.object.errors.any?
    - form.object.errors.full_messages.each do |message|
      %div= message

  .my-4
    %label= form.label :title, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.text_field :title,
                      class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .my-4
    %label= form.label :category_id, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.select(:category_id,
                  options_for_select(@categories),
                  {},
                  { class: 'option:bg-red-100 bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700' })

  .my-4
    %label= form.label :document_id, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.select(:document_id,
                  options_for_select(@documents),
                  {},
                  { class: 'option:bg-red-100 bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700' })

  .grid.grid-cols-2.gap-2
    %div
      = form.submit(@post.new_record? ? 'Save' : 'Update',
                    class: 'block text-gray-50 bg-indigo-500 hover:bg-indigo-800 w-full p-2 transition-colors duration-300 text-center tracking-wide')

    %div
      = link_to 'Back', admin_posts_path,
                class: 'block text-gray-50 bg-gray-500 hover:bg-gray-800 w-full p-2 transition-colors duration-300 text-center tracking-wide'
