= tag.tr id: dom_id(post), class: 'hover:bg-gray-50 border-b border-gray-300 text-gray-600' do
  %td.p-5= post.title
  %td.p-5= post.author_email
  %td.p-5= post.category_title
  %td.p-5= link_to(post.document_title, admin_document_path(post.document_id))
  %td.p-5= post.created_at
  %td.p-5
    .flex.justify-center
      = link_to heroicon('pencil',
                          options: { class: 'mr-2 text-indigo-500 hover:text-indigo-800 transition-colors duration-300' }),
                edit_admin_post_path(post),
                data: { turbo_frame: '_top' }
      = link_to heroicon('trash',
                          options: { class: 'text-red-500 hover:text-red-800 transition-colors duration-300' }),
                admin_post_path(post),
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
