= provide :page_title, 'Update your password'

= form_with(model: @password_form, url: password_path, method: :put, class: 'max-w-xl border border-gray-300 p-10 mx-auto') do |form|
  - if form.object.errors.any?
    - form.object.errors.full_messages.each do |message|
      %div= message

  .mb-4
    %label= form.label :password_challenge, 'Current Password', class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.password_field :password_challenge, require: true,
                                               class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .my-4
    %label= form.label :password, 'New Password', class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.password_field :password, required: true,
                                     class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .my-4
    %label= form.label :password_confirmation, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.password_field :password_confirmation, required: true,
                                                  class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  %div
    = form.submit('Update Password',
                  class: 'block text-gray-50 bg-indigo-500 hover:bg-indigo-800 w-full p-2 transition-colors duration-300 text-center tracking-wide')
