= provide :page_title, @role.name

- if @permissions.empty?
  = button_to 'Create permissions', admin_role_permissions_path(@role), method: :create
- else
  = button_to 'Check new permissions', admin_role_permissions_path(@role), method: :put

- @permissions.each do |permission|
  %h3= permission[:model]
  = check_box_tag permission[:verb], {}


