.border-2
  = class_room.title
  = class_room.description
  = link_to heroicon('pencil', options: { class: 'mr-2' }), edit_dashboard_class_room_path(class_room)
  = link_to heroicon('trash', options: { class: 'mr-2' }),
                     dashboard_class_room_path(class_room),
                     data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
