= form_with(model: [:dashboard, @class_room], class: 'max-w-4xl mx-auto') do |form|
  - if form.object.errors.any?
    - form.object.errors.full_messages.each do |message|
      %div= message

  .my-4
    %label= form.label :title, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.text_field :title,
                      class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .my-4
    %label= form.label :description, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.text_area :description,
                     class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .my-4.flex.items-center
    = form.check_box :is_private, class: 'mr-3 text-indigo-700 focus:ring-0 focus:ring-offset-0'
    %label= form.label :is_private, "Private class room", class: 'block text-gray-600 text-sm tracking-wide'

  .grid.grid-cols-2.gap-2
    %div
      = form.submit(@class_room.new_record? ? 'Save' : 'Update',
                    class: 'block text-gray-50 bg-indigo-500 hover:bg-indigo-800 w-full p-2 transition-colors duration-300 text-center tracking-wide')

    %div
      = link_to 'Back', dashboard_class_rooms_path,
                class: 'block text-gray-50 bg-gray-500 hover:bg-gray-800 w-full p-2 transition-colors duration-300 text-center tracking-wide'

