%tr
  %td.p-2.pr-4= paragraph.title
  %td.p-2.pr-4= paragraph.position
  %td.p-2.pr-2
    .flex
      = link_to heroicon('pencil', options: { class: 'mr-2' }), edit_dashboard_paragraph_path(paragraph)
      = link_to heroicon('trash', options: { class: 'mr-2' }),
              dashboard_paragraph_path(paragraph),
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
