= tag.tr id: dom_id(category), class: 'hover:bg-gray-50 border-b border-gray-300 text-gray-600' do
  %td.p-5= category.title
  %td.p-5= category.slug
  %td.p-5= category.state
  %td.p-5= category.created_at
  %td.p-5= category.archived_at
  %td.p-5
    .flex.justify-center
      = link_to heroicon('pencil',
                         options: { class: 'mr-2 text-indigo-500 hover:text-indigo-800 transition-colors duration-300' }),
                edit_admin_category_path(category),
                data: { turbo_frame: '_top' }

      = link_to heroicon('trash',
                         options: { class: 'text-red-500 hover:text-red-800 transition-colors duration-300' }),
                admin_category_path(category),
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
