= form_with(model: [:admin, @category], class: 'max-w-2xl mx-auto') do |form|
  - if @category.errors.any?
    %div{style: "color: red"}
      %h2
        = pluralize(@category.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @category.errors.each do |error|
          %li= error.full_message

  .my-4
    %label= form.label :title, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.text_field :title,
                      class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .my-4
    %label= form.label :description, class: 'block mb-2 text-gray-600 text-sm tracking-wide'
    = form.text_area :description,
                     class: 'bg-gray-50 border-gray-300 text-gray-800 block w-full p-2 focus:border-indigo-700'

  .grid.grid-cols-2.gap-2
    %div
      = form.submit(@category.new_record? ? 'Save' : 'Update',
                    class: 'block text-gray-50 bg-indigo-500 hover:bg-indigo-800 w-full p-2 transition-colors duration-300 text-center tracking-wide')

    %div
      = link_to 'Back', admin_categories_path,
                class: 'block text-gray-50 bg-gray-500 hover:bg-gray-800 w-full p-2 transition-colors duration-300 text-center tracking-wide'
