= provide :page_title, 'Categories'

.grid.grid-cols-15_85.h-full
  = render 'admin/shared/aside'

  .m-10
    %nav.mb-10
      %ul.flex.md:flex-row.justify-between
        %li
          = link_to 'New Category', new_admin_category_path,
                    class: 'block text-gray-50 bg-indigo-500 hover:bg-indigo-800 p-2 transition-colors duration-300 text-center tracking-wide'

        %li
          = search_form_for([:admin, @query], html: { 'data-turbo-frame': 'categories' }) do |form|
            = form.search_field :title_or_slug_i_cont,
                                placeholder: 'Searching by title or slug',
                                class: 'bg-gray-50 border-gray-300 text-gray-800 p-2 focus:border-indigo-700'
            = form.submit(class: 'text-gray-50 bg-indigo-500 hover:bg-indigo-800 p-2 transition-colors duration-300 text-center tracking-wide')

    %section
      = turbo_frame_tag 'categories' do
        %p.content-loading TODO: Table skeleton

        %table.border-collapse.w-full.leading-normal
          %thead.uppercase.border-b.border-indigo-500
            %tr
              %th.px-5.py-3.text-indigo-800.text-left= sort_link(@query, :title, 'Title')
              %th.px-5.py-3.text-indigo-800.text-left= sort_link(@query, :slug, 'Slug')
              %th.px-5.py-3.text-indigo-800.text-left= sort_link(@query, :state, 'State')
              %th.px-5.py-3.text-indigo-800.text-left= sort_link(@query, :created_at, 'Created at')
              %th.px-5.py-3.text-indigo-800.text-left= sort_link(@query, :archived_at, 'Archived at')
              %th.px-5.py-3.text-indigo-800 Actions
          %tbody
            = render @categories
