= tag.tr id: dom_id(document), class: 'hover:bg-gray-50 border-b border-gray-300 text-gray-600' do
  %td.p-5= document.title
  %td.p-5= document.paragraphs_count
  %td.p-5= document.humanized_kind
  %td.p-5= document.author_email
  %td.p-5= document.created_at
  %td.p-5
    .flex.justify-center
      = link_to heroicon('pencil',
                         options: { class: 'mr-2 text-indigo-500 hover:text-indigo-800 transition-colors duration-300' }),
                edit_admin_document_path(document),
                data: { turbo_frame: '_top' }
      = link_to heroicon('trash',
                         options: { class: 'text-red-500 hover:text-red-800 transition-colors duration-300' }),
                admin_document_path(document),
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
