.border-2
  = course.title
  = course.description
  = link_to heroicon('pencil', options: { class: 'mr-2' }), edit_dashboard_course_path(course)
  = link_to heroicon('trash', options: { class: 'mr-2' }),
                     dashboard_course_path(course),
                     data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
