%aside.bg-gray-50
  %ul.mt-6
    %li
      = link_to 'Dashboard', admin_root_path,
                class: 'block text-gray-600 hover:bg-indigo-500 hover:text-gray-50 w-full p-4 tracking-wide'
    %li
      = link_to 'Documents', admin_documents_path,
                class: 'block text-gray-600 hover:bg-indigo-500 hover:text-gray-50 w-full p-4 tracking-wide'
    %li
      = link_to 'Courses', admin_courses_path,
                class: 'block text-gray-600 hover:bg-indigo-500 hover:text-gray-50 w-full p-4 tracking-wide'
    %li
      = link_to 'Decks', admin_decks_path,
                class: 'block text-gray-600 hover:bg-indigo-500 hover:text-gray-50 w-full p-4 tracking-wide'
    %li
      = link_to 'Posts', admin_posts_path,
                class: 'block text-gray-600 hover:bg-indigo-500 hover:text-gray-50 w-full p-4 tracking-wide'
    %li
      = link_to 'Categories', admin_categories_path,
                class: 'block text-gray-600 hover:bg-indigo-500 hover:text-gray-50 w-full p-4 tracking-wide'
    %li
      = link_to 'Roles', admin_roles_path,
                class: 'block text-gray-600 hover:bg-indigo-500 hover:text-gray-50 w-full p-4 tracking-wide'
