%header.bg-gray-50
  %nav.mx-auto.p-5
    .flex.justify-between
      %h5
        = link_to 'Grammarats admin', admin_root_path,
                  class: 'font-bold  hover:text-gray-800 transition-colors duration-300'
      .block
        %ul
          - if user_signed_in?
            %li
              = button_to 'Log out', session_path, method: :delete,
                          class: 'text-gray-600 hover:text-gray-800 transition-colors duration-300'
