= tag.tr id: dom_id(course), class: 'hover:bg-gray-50 border-b border-gray-300 text-gray-600' do
  %td.p-5= course.title
  %td.p-5= course.state
  %td.p-5
    .flex.justify-center
      = link_to heroicon('pencil',
                         options: { class: 'mr-2 text-indigo-500 hover:text-indigo-800 transition-colors duration-300' }),
                edit_admin_course_path(course),
                data: { turbo_frame: '_top' }
      = link_to heroicon('trash',
                         options: { class: 'text-red-500 hover:text-red-800 transition-colors duration-300' }),
                admin_course_path(course),
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
