= provide :page_title, 'Courses'

.grid.grid-cols-15_85.h-full
  = render 'admin/shared/aside'

  .m-10
    %nav.mb-10
      %ul.flex.md:justify-end
        %li
          = search_form_for([:admin, @query], html: { 'data-turbo-frame': 'courses' }) do |form|
            = form.search_field :title_i_cont,
                                placeholder: 'Searching by title',
                                class: 'bg-gray-50 border-gray-300 text-gray-800 p-2 focus:border-indigo-700'
            = form.submit(class: 'text-gray-50 bg-indigo-500 hover:bg-indigo-800 p-2 transition-colors duration-300 text-center tracking-wide')


    %section
      = turbo_frame_tag 'courses' do
        %p.content-loading TODO: Table skeleton

        %table.border-collapse.w-full.leading-normal
          %thead.uppercase.border-b.border-indigo-500
            %tr
              %th.px-5.py-3.text-indigo-800.text-left= sort_link(@query, :title, 'Title')
              %th.px-5.py-3.text-indigo-800.text-left= sort_link(@query, :state, 'State')
              %th.px-5.py-3.text-indigo-800 Actions
          %tbody
            = render @courses
