.border-2
  = deck.title
  = deck.description
  = link_to heroicon('pencil', options: { class: 'mr-2' }), edit_dashboard_deck_path(deck)
  = link_to heroicon('trash', options: { class: 'mr-2' }),
                     dashboard_deck_path(deck),
                     data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
