= provide :page_title, 'Decks'

.m-10
  %nav.mb-10
    %ul.flex.md:flex-row.justify-between
      %li
        = link_to new_dashboard_deck_path, class: 'flex p-2 text-indigo-800 hover:text-white transition ease-in duration-300 hover:bg-indigo-800 border-2 border-indigo-800' do
          = heroicon('plus-circle', options: { class: 'mr-2 h-6 w-6' })
          %p.text-center.tracking-wide New deck
      %li
        = search_form_for([:dashboard, @query], html: { 'data-turbo-frame': 'courses' }) do |form|
          = form.search_field :title_i_cont,
                              placeholder: 'Searching by title',
                              class: 'bg-gray-50 border-gray-300 text-gray-800 p-2 focus:border-indigo-800'
          = form.submit class: 'p-2 text-indigo-800 hover:text-white transition ease-in duration-300 hover:bg-indigo-800 border-2 border-indigo-800 text-center tracking-wide'

  %section
    = render @decks if @decks.any?
